<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="sampleForm" (ngSubmit)="onSubmit()">
        
<!-- dynamic form starts here -->
<div *ngIf="gotInputData">
<!-- <app-dynamic-form [inputs]="inputs$ | async"></app-dynamic-form> -->
<app-dynamic-form [inputs]="inputarray"></app-dynamic-form>
</div>        
        <!-- dynamic form end here -->
        
<!-- autocomplete cities  -->
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Number</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<!-- datepicker range  -->
<mat-form-field appearance="fill">
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
    <input matStartDate formControlName="start" placeholder="Start date">
    <input matEndDate formControlName="end" placeholder="End date">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>

  <mat-error *ngIf="range.controls['start']hasError('matStartDateInvalid')">Invalid start date</mat-error>
  <mat-error *ngIf="range.controls['end'].hasError('matEndDateInvalid')">Invalid end date</mat-error>
</mat-form-field>

<p>Selected range: {{range.value | json}}</p>

        <!-- chips  -->

        <mat-form-field class="example-chip-list" appearance="fill">
          <mat-label>Favorite Fruits</mat-label>
          <mat-chip-list #chipList aria-label="Fruit selection">
            <mat-chip
              *ngFor="let fruit of fruits"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(fruit)">
              {{fruit}}
              <button matChipRemove *ngIf="removable">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input
              placeholder="New fruit..."
              #fruitInput
              [formControl]="fruitCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
              {{fruit}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        
        <!-- projectname -->
        <div>
          {{ sampleForm.value | json }}
        </div>
        <div>
          <label for="projectName">Name</label>
          <input
            class="form-control"
            id="projectName"
            [formControlName]="'projectname'"
            type="text"
          />
        </div>

        <!-- email   -->
        <div>
          <label for="email">email</label>
          <input
            class="form-control"
            id="email"
            [formControlName]="'email'"
            type="text"
          />
        </div>


        <!-- reactive form array part 2   -->

        <h3>enter hobbies as formarray <span><button type="button" class="btn btn-outline-secondary btn-sm" (click)="addHobby()">add hobby</button></span></h3>
        <div class="container" >
          
          <div [formArrayName]="'hobbiesArray'" *ngFor="let hobby of hobbiesArray.controls; index as idx; last as isLast">
            <input class="form-control my-1" [formControlName]="idx">
          </div>
        </div>


        <!-- gender  -->

        <div class="border">
        <label>
          <input class="form-check-input " type="radio" value="Male" formControlName="gender">
            <span class="px-1 py-2">male</span>
        </label>
        <label>
          <input class="form-check-input " type="radio" value="Female" formControlName="gender">
            <span class="px-1 py-2">female</span>
        </label>
      </div>

        <!-- dropdown  -->
        <div class="pb-4">
          <select
            aria-placeholder="making disabled friendly"
            [formControlName]="'dropdown'"
            class="form-control"
            (change)="changeList($event)"
          >
            <option [ngValue]="opt" *ngFor="let opt of dropList">
              {{ opt }}
            </option>
          </select>
        </div>
        <!-- submit button -->
        <div>
          <button
            class="btn btn-primary"
            [disabled]="!sampleForm.valid"
            type="submit"
          >
            Submit
          </button>

          <button
            class="mx-4 btn btn-primary"
            [disabled]="!sampleForm.valid"
            type="button"
            (click)="onSave()"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
