<div [formGroup]="formy">
  
  <label [attr.for]="question.key">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">
<!-- textbox  -->

    <input matInput *ngSwitchCase="'textbox'" [formControlName]="question.key"
            [id]="question.key" [type]="question.type"
            class="border border-secondary" >  
            <!-- select inputs options -->

    <select matSelect [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
      <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
    </select>

    <div *ngSwitchCase="'checkbox'" >
      entering ngif
      <div *ngIf="question.type=='formGroup'">
        
        something
    </div>
  </div>
    <!-- <section *ngSwitchCase="'checkbox'" [formGroup]="question.key">
      <h4>Select your toppings:</h4>
      <mat-checkbox *ngFor="let opt of question.options; let i = index " [formControlName]="i">{{opt.value}}</mat-checkbox> -->
      <!-- <p><mat-checkbox formControlName="extracheese">Extra Cheese</mat-checkbox></p>
      <p><mat-checkbox formControlName="mushroom">Mushroom</mat-checkbox></p> -->
    <!-- </section> -->
  </div>

  <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
</div>
