<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    {{ inputs | json}}
    <div *ngFor="let question of inputs" class="form-row">
    <!-- each component is rendered here  -->
    <label [attr.for]="question.key">{{question.label}}</label>
    
    <div [ngSwitch]="question.controlType">
  <!-- textbox  -->
  
      <input matInput *ngSwitchCase="'textbox'" [formControlName]="question.key"
              [id]="question.key" [type]="question.type"
              class="border border-secondary" >  
              <!-- select inputs options -->
  
      <select matSelect [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
        <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
      </select>
  
      <div *ngSwitchCase="'checkbox'" >
        
        <div *ngIf="question.type=='formGroup'" [formGroupName]="question.key">
          <h4>Select your toppings:</h4>  
          <!-- {{question.options | json}} -->
          <mat-checkbox *ngFor="let opt of question.options; let i = index " [formControlName]="opt.key">{{opt.key}}</mat-checkbox> 
      </div>
    </div>
      <!-- <section *ngSwitchCase="'checkbox'" [formGroup]="question.key">
        
        <mat-checkbox *ngFor="let opt of question.options; let i = index " [formControlName]="i">{{opt.value}}</mat-checkbox> -->
        <!-- <p><mat-checkbox formControlName="extracheese">Extra Cheese</mat-checkbox></p>
        <p><mat-checkbox formControlName="mushroom">Mushroom</mat-checkbox></p> -->
      <!-- </section> -->
    </div>
  
    <!--  -->
      <!-- <app-question [question]="question" [formy]="form"></app-question> -->
    </div>

    <div class="form-row">
      <button type="submit" class="btn btn-info" [disabled]="!form.valid">Save</button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>
